In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os

In [3]:
os.listdir(r"/Users/aruzhanakbayeva/Desktop/new projects/uber/uber_dataset")

['other-Lyft_B02510.csv',
 'other-FHV-services_jan-aug-2015.csv',
 'other-Firstclass_B01536.csv',
 'other-Skyline_B00111.csv',
 'uber-raw-data-janjune-15_sample.csv',
 'uber-raw-data-janjune-15.csv',
 'other-American_B01362.csv',
 'uber-raw-data-apr14.csv',
 'Uber-Jan-Feb-FOIL.csv',
 'other-Highclass_B01717.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-sep14.csv',
 'uber-raw-data-jul14.csv',
 'other-Federal_02216.csv',
 'uber-raw-data-jun14.csv',
 'other-Carmel_B00256.csv',
 'other-Diplo_B01196.csv',
 'other-Dial7_B00887.csv',
 'uber-raw-data-may14.csv',
 'other-Prestige_B01338.csv']

In [4]:
uber_15 = pd.read_csv(r"/Users/aruzhanakbayeva/Desktop/new projects/uber/uber_dataset/uber-raw-data-janjune-15_sample.csv")
uber_15

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,B02617,2015-05-02 21:43:00,B02764,237
1,B02682,2015-01-20 19:52:59,B02682,231
2,B02617,2015-03-19 20:26:00,B02617,161
3,B02764,2015-04-10 17:38:00,B02764,107
4,B02764,2015-03-23 07:03:00,B00111,140
...,...,...,...,...
99995,B02764,2015-04-13 16:12:00,B02764,234
99996,B02764,2015-03-06 21:32:00,B02764,24
99997,B02598,2015-03-19 19:56:00,B02598,17
99998,B02682,2015-05-02 16:02:00,B02682,68
99999,B02764,2015-06-24 16:04:00,B02764,125

# Data wrangling

In [5]:
uber_15.shape

(100000, 4)

In [6]:
type(uber_15)

pandas.core.frame.DataFrame

In [8]:
uber_15.duplicated().sum()

54

In [9]:
uber_15.drop_duplicates(inplace=True)

In [10]:
uber_15.shape

(99946, 4)

In [11]:
uber_15.dtypes

Dispatching_base_num    object
Pickup_date             object
Affiliated_base_num     object
locationID               int64
dtype: object

In [13]:
uber_15.isnull().sum()

Dispatching_base_num       0
Pickup_date                0
Affiliated_base_num     1116
locationID                 0
dtype: int64

In [14]:
uber_15["Pickup_date"][0]

'2015-05-02 21:43:00'

In [15]:
type(uber_15["Pickup_date"][0])

str

In [16]:
uber_15["Pickup_date"] = pd.to_datetime(uber_15["Pickup_date"])

In [17]:
uber_15["Pickup_date"].dtype

dtype('<M8[ns]')

In [ ]:
uber_15["Pickup_date"]

Timestamp('2015-05-02 21:43:00')

In [20]:
type(uber_15["Pickup_date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
uber_15.dtypes

Dispatching_base_num            object
Pickup_date             datetime64[ns]
Affiliated_base_num             object
locationID                       int64
dtype: object