In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os

In [3]:
os.listdir(r"/Users/aruzhanakbayeva/Desktop/new projects/uber/uber_dataset")

['other-Lyft_B02510.csv',
 'other-FHV-services_jan-aug-2015.csv',
 'other-Firstclass_B01536.csv',
 'other-Skyline_B00111.csv',
 'uber-raw-data-janjune-15_sample.csv',
 'uber-raw-data-janjune-15.csv',
 'other-American_B01362.csv',
 'uber-raw-data-apr14.csv',
 'Uber-Jan-Feb-FOIL.csv',
 'other-Highclass_B01717.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-sep14.csv',
 'uber-raw-data-jul14.csv',
 'other-Federal_02216.csv',
 'uber-raw-data-jun14.csv',
 'other-Carmel_B00256.csv',
 'other-Diplo_B01196.csv',
 'other-Dial7_B00887.csv',
 'uber-raw-data-may14.csv',
 'other-Prestige_B01338.csv']

In [4]:
pd.read_csv(r"/Users/aruzhanakbayeva/Desktop/new projects/uber/uber_dataset/uber-raw-data-janjune-15_sample.csv")

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,B02617,2015-05-02 21:43:00,B02764,237
1,B02682,2015-01-20 19:52:59,B02682,231
2,B02617,2015-03-19 20:26:00,B02617,161
3,B02764,2015-04-10 17:38:00,B02764,107
4,B02764,2015-03-23 07:03:00,B00111,140
...,...,...,...,...
99995,B02764,2015-04-13 16:12:00,B02764,234
99996,B02764,2015-03-06 21:32:00,B02764,24
99997,B02598,2015-03-19 19:56:00,B02598,17
99998,B02682,2015-05-02 16:02:00,B02682,68
99999,B02764,2015-06-24 16:04:00,B02764,125

In [5]:
pd.read_csv(r"/Users/aruzhanakbayeva/Desktop/new projects/uber/uber_dataset/uber-raw-data-may14.csv")

                 Date/Time      Lat      Lon    Base
0         5/1/2014 0:02:00  40.7521 -73.9914  B02512
1         5/1/2014 0:06:00  40.6965 -73.9715  B02512
2         5/1/2014 0:15:00  40.7464 -73.9838  B02512
3         5/1/2014 0:17:00  40.7463 -74.0011  B02512
4         5/1/2014 0:17:00  40.7594 -73.9734  B02512
...                    ...      ...      ...     ...
652430  5/31/2014 23:45:00  40.7309 -74.0014  B02764
652431  5/31/2014 23:52:00  40.7528 -73.9798  B02764
652432  5/31/2014 23:55:00  40.7158 -73.9519  B02764
652433  5/31/2014 23:56:00  40.6961 -73.8997  B02764
652434  5/31/2014 23:59:00  40.7393 -73.9919  B02764

[652435 rows x 4 columns]